html,body{
	margin:0;
	padding:0;
}
 .head-bar{
 	width:100%;
 	height: 76px;
 	background-color: #bf1110;
 }
 .silder-comt{
 	font-weight: bold;
 	height: 32px;
 	line-height: 32px;
 	width: 130px;
 	text-align: center;
 	font-size: 14px;
 }